
// fonts
$fontOne: 'Rokkitt', serif;
$fontTwo: 'Source Code Pro', monospace;

// colors
$darkblue: #2C5E2E;

$darkgreen: #2C5E2E;
$lightgreen:  #70B85D;
$white: #FFFEF1;
$blue: #0C273D;
$lightblue: #54D0ED;

// rgb(24, 61, 100)

$box-shadow: 0 8px 30px -1px #555;
